@import "partials/normalize";
@import "partials/colors";
@import "partials/navbar";
@import "partials/introduction";
@import "partials/videobackground";
@import "partials/aboutme";
@import "partials/portfolio";
@import "partials/skills";
// @import "partials/blog"; Blog coming soon
@import "partials/contact";

// REMOVE UNUSED FONT-WEIGHT


* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	background-color: #000;
	// font-family: 'Merriweather', serif;
}

.wrapper {
	max-width: 1800px;
	margin: 0 auto;
}

.inner__wrapper {
	max-width: 1170px;
	margin: 0 auto;
}
a {
	color: inherit;
}

a:visited {
	color: #000;
}

@media (max-width: 1800px) {
	.wrapper {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
