#about__me {
    background-color: #fff;
    padding-top: 8rem;
}

.about__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.parallax {
    background-image: url("public/assets/bio_picture.jpg");
    height: 270px;
    width: 600px;
    max-width: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 1 37.5rem;
    filter: opacity(0.7);
    -webkit-box-shadow: inset 0px 4px 11px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 4px 11px 2px rgba(0,0,0,0.75);
    box-shadow: inset 0px 4px 11px 2px rgba(0,0,0,0.75);
}

.about__info {
   flex: 1 1 10rem;
   margin-left: 7.9375rem;
   position: relative;
}

.about__info h2 {
    transform: rotate(-90deg);
    position: absolute;
    margin: 0;
    left: -20%;
    bottom: 20%;
    font-size: 2.25rem;
    // letter-spacing: 7px;
    font-weight: 600;
    padding-bottom: 1.875rem;
    border-bottom: 2px solid $accent-color;
    text-transform: uppercase;
}

.about__info p {
    margin-left: 5rem;
    font-size: 1.4rem;
    color: #404040;
    // color: #000;
    position: absolute;
    top: 78%;
    font-weight: 200;
    transform: translateY(-50%);
    line-height: 28px;
}

.signature {
    text-align: right;
    padding-top: 13rem;
}

@media (max-width: 1170px) {
    .about__container {
        flex-direction: column;
    }

    .parallax {
        width: 100%;
        background-position: initial;
        margin: 0 auto;
        background-origin: left center;
        flex: 1 1 18.75rem;
        margin-bottom: 8rem;
    }

    .about__info {
        margin: 0;
    }

    .about__info p {
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: justify;
        position: relative;
        top: 5rem;
        padding-top: 5rem;
    }

    .about__info h2 {
        display: none;
    }

    .signature {
       padding-top: 4rem;
       text-align: center;
    }
}

@media (max-width: 500px) {
    .parallax {
        background-attachment: scroll;
        width: 85%;
        filter: none;
     }
}
@media (max-width: 325px) {

    .parallax {
       background-attachment: scroll;
       width: 85%;
    }

    .about__info p {
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 24px;
        font-size:4.5vw;
    }
    .signature {
        display: none;
    }
}



