#about__me {
    background-color: #fff;
    padding-top: 5.625rem;
}

.about__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.parallax {
    background-image: url("/public/assets/bio_pic2.jpg");
    height: 270px;
    width: 600px;
    max-width: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 1 37.5rem;
    filter: opacity(0.7);
}

.about__info {
   flex: 1 1 10rem;
   margin-left: 7.9375rem;
   position: relative;
}

.about__info h2 {
    transform: rotate(-90deg);
    position: absolute;
    margin: 0;
    left: -20%;
    bottom: 25%;
    font-size: 2.25rem;
    letter-spacing: 7px;
    font-weight: 600;
    padding-bottom: 1.875rem;
    border-bottom: 2.5px solid #c6aa82;
}

.about__info p {
    margin-left: 5rem;
    font-size: 1rem;
    color: #606060;
    position: absolute;
    top: 60%;
    font-weight: 300;
    transform: translateY(-50%);
    line-height: 21px;
}

.signature {
    text-align: right;
    padding-top: 4.6875rem;
}

