#intro {
    position: relative;
    height: 100vh;
    // background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url('/public/assets/2227.jpeg');
    // background: url("/public/assets/2227.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    transition: all 0.2s ease-in;
    animation-duration: 1s;
    animation-fill-mode: both;
    // transition: opacity 0.2 ease-in;
}

.intro__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.25rem solid #fff;
    color: #fff;
    height: 25.625rem;
    width: 18.75rem;
    width: 0;
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 1.6875rem;
    padding-top: 1.5625rem;
    padding-bottom: 1.75rem;
    transition: all 0.4s ease-in;
}

.intro__container h1 {
    font-size: 3rem;
    font-weight:200;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.intro__container p {
    font-size: 1rem;
    font-weight: 300;
    opacity: 0;
    letter-spacing: 6.5px;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

.loading__container {
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: #000;
    z-index: 500;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }

.icons {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 1.25rem;
    padding-bottom: 2rem;
    text-decoration: none;
}

.icons i {
    padding-right: 0.875rem;
}

.icons i:hover {
  color: $accent-color;
}


.icons a:visited {
	color: #fff;
}




@media (max-height: 516px) {
  .intro__container {
    height: 19rem;
  }

}



@media (max-height: 440px) {
  .drawer__main div {
    font-size: 1.1rem;
  }
}


@media (max-width: 790px) {
  #intro .icons{
    display: none;
  }

}


@media (max-width: 570px) {
    .drawer {
      width: 100vw;
    }

    body .fullscreen-bg #intro {
      background: none !important;
    }

}