.fullscreen-bg {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 200;
  }
  
  .fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transform: all 0.2s ease-out;
    transition: opacity 0.2s ease-in;
    // filter: grayscale(100%);
  }
  