article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, p {
  margin: 0; }

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 300;
  color: #fff;
  padding-top: 1.75rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 200;
  opacity: 1;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in; }

.sticky {
  background-color: #fff;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  color: #000;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.sticky__menu {
  background-color: #000; }

.navbar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

span {
  padding-left: 20px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 2px; }

.menu {
  height: 32px;
  width: 50px;
  padding-left: 1.125rem;
  cursor: pointer; }

.bar {
  background-color: #fff;
  height: 1px;
  width: 30px;
  -webkit-transition: all .25s;
  transition: all .25s;
  position: relative; }

.one {
  top: 11px; }

.two {
  top: 21px; }

.menu:hover .one, .menu:hover .two {
  background-color: gray; }

.one-ani {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 16px;
  -webkit-transition: all .25s;
  transition: all .25s; }

.two-ani {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 15px;
  -webkit-transition: all .25s;
  transition: all .25s; }

.drawer {
  position: fixed;
  height: 100vh;
  width: 50%;
  max-width: 44.6875rem;
  background-color: #fff;
  z-index: 1000;
  padding-top: 1.75rem;
  padding-right: 2.5rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.drawer a {
  color: #000;
  text-decoration: none; }
  .drawer a:hover {
    color: #c6aa82; }

.drawer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.drawer__header h1 {
  padding-left: 3.6875rem; }

.drawer__menu .bar {
  background-color: #000; }

.drawer__main {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.drawer__main div {
  padding-bottom: 1.75rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 300; }

.drawer__icons {
  padding-left: 3.6875rem; }

.drawer__icons i {
  color: #000;
  font-size: 1.25rem; }
  .drawer__icons i:hover {
    color: #c6aa82; }

.drawer__slide {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 0.98; }

@media (max-height: 566px) {
  .navbar {
    background-color: #fff;
    color: #000;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem; }
  .nav__bar {
    background-color: #000; } }

#intro {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0.25rem solid #fff;
  color: #fff;
  height: 25.625rem;
  width: 18.75rem;
  width: 0;
  opacity: 0;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-left: 1.6875rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.75rem;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }

.intro__container h1 {
  font-size: 3rem;
  font-weight: 200;
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.intro__container p {
  font-size: 1rem;
  font-weight: 200;
  opacity: 0;
  letter-spacing: 6.5px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn; }

.loading__container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  z-index: 500; }

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

.icons {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 1.25rem;
  padding-bottom: 2rem;
  text-decoration: none; }

.icons i {
  padding-right: 0.875rem; }

.icons i:hover {
  color: #c6aa82; }

.icons a:visited {
  color: #fff; }

@media (max-height: 516px) {
  .intro__container {
    height: 19rem; } }

@media (max-height: 440px) {
  .drawer__main div {
    font-size: 1.1rem; } }

@media (max-width: 790px) {
  #intro .icons {
    display: none; } }

@media (max-width: 570px) {
  .drawer {
    width: 100vw; }
  body .fullscreen-bg #intro {
    background: none !important; } }

.fullscreen-bg {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 200; }

.fullscreen-bg__video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  -webkit-transform: all 0.2s ease-out;
          transform: all 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in; }

@media (max-width: 1060px) {
  .fullscreen-bg__video {
    display: none; } }

#about__me {
  background-color: #fff;
  padding-top: 8rem; }

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.parallax {
  background-image: url("/public/assets/bio_picture.jpg");
  height: 270px;
  width: 600px;
  max-width: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 37.5rem;
          flex: 1 1 37.5rem;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
  -webkit-box-shadow: inset 0px 4px 11px 2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 4px 11px 2px rgba(0, 0, 0, 0.75); }

.about__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  margin-left: 7.9375rem;
  position: relative; }

.about__info h2 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  margin: 0;
  left: -20%;
  bottom: 20%;
  font-size: 2.25rem;
  font-weight: 600;
  padding-bottom: 1.875rem;
  border-bottom: 2px solid #c6aa82;
  text-transform: uppercase; }

.about__info p {
  margin-left: 5rem;
  font-size: 1.4rem;
  color: #404040;
  position: absolute;
  top: 78%;
  font-weight: 200;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 28px; }

.signature {
  text-align: right;
  padding-top: 13rem; }

@media (max-width: 1170px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .parallax {
    width: 100%;
    background-position: initial;
    margin: 0 auto;
    background-origin: left center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 18.75rem;
            flex: 1 1 18.75rem;
    margin-bottom: 8rem; }
  .about__info {
    margin: 0; }
  .about__info p {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
    position: relative;
    top: 5rem;
    padding-top: 5rem; }
  .about__info h2 {
    display: none; }
  .signature {
    padding-top: 4rem;
    text-align: center; } }

@media (max-width: 500px) {
  .parallax {
    background-attachment: scroll;
    width: 85%;
    -webkit-filter: none;
            filter: none; } }

@media (max-width: 325px) {
  .parallax {
    background-attachment: scroll;
    width: 85%; }
  .about__info p {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 24px;
    font-size: 4.5vw; }
  .signature {
    display: none; } }

#portfolio {
  background-color: #fff;
  padding-top: 5.625rem; }

.portfolio__intro {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 6.9rem; }

.portfolio__intro h1 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 2px solid #c6aa82;
  padding-bottom: 1.375rem; }

.portfolio__piece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding-bottom: 9rem; }

.portfolio__image {
  width: 50%; }

.portfolio__image img {
  width: 100%;
  height: auto;
  border-radius: 14px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.15);
  font-size: 0; }

.portfolio__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%; }

.portfolio__info p {
  text-align: center;
  font-weight: 200;
  font-size: 1.4rem;
  padding-bottom: 2rem; }

.port_divider {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.portfolio__piece:nth-child(even) .portfolio__info {
  padding-right: 3.75rem; }

.portfolio__piece:nth-of-type(odd) .portfolio__info {
  padding-left: 3.75rem; }

.portfolio__header {
  text-align: center; }

.portfolio__header p {
  font-weight: 100;
  font-size: 1.25rem;
  padding-bottom: 1.5rem; }

.portfolio__header h2 {
  font-weight: 200;
  font-size: 1.9rem;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 0.5rem; }

.project__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.project__tags p {
  color: #606060;
  font-size: 1.1rem;
  font-weight: 200; }

.project__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.project__links a:first-child {
  margin-right: 1.5rem; }

.project__links a button {
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 2px;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #000;
  border: 1px solid #000;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .project__links a button:hover {
    color: #fff;
    background-color: #000;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-transform: scale(1.02);
            transform: scale(1.02); }

@media (max-width: 1000px) {
  .portfolio__piece:nth-of-type(odd) .portfolio__info {
    padding: 0; }
  .portfolio__piece:nth-of-type(even) .portfolio__info {
    padding: 0; }
  .portfolio__image {
    width: 100%; }
  .portfolio__info {
    width: 100%; }
  .portfolio__info p {
    font-size: 1.2rem;
    padding-top: 1rem; }
  .portfolio__piece {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .portfolio__piece:nth-of-type(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .portfolio__piece:nth-of-type(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; } }

@media (max-width: 450px) {
  .portfolio__info p {
    text-align: justify; } }

@media (max-width: 340px) {
  .project__links {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    white-space: nowrap; }
  .project__links a:first-child {
    margin: 0;
    margin-bottom: 1rem; } }

#skills {
  background-color: #fff;
  padding-top: 6rem;
  padding-bottom: 4.5rem; }

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.skills__intro {
  width: 100%;
  margin-bottom: 3.75rem;
  text-align: center; }

.skills__intro h1 {
  text-align: center;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 2px solid #c6aa82;
  padding-bottom: 1.375rem; }

.skill__icons {
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #959595;
  padding-top: 2rem;
  padding-bottom: 2.5rem; }

.skill__icons:hover i {
  color: #c6aa82; }

.skill__icons i {
  font-size: 4rem; }

.skill__icons p {
  padding-top: 1rem; }

@media (max-width: 790px) {
  .skills__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .skill__icons {
    padding-bottom: 2rem;
    width: 20%; } }

@media (max-width: 400px) {
  .skill__icons {
    width: 50%; } }

#google__map {
  background: url("/public/assets/contactmap.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  height: 550px;
  max-width: 100%;
  width: 100%; }

#contact {
  background-color: #fff; }

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contact__intro {
  width: 100%;
  padding-bottom: 3.75rem;
  text-align: center; }

.contact__intro h1 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 2px solid #c6aa82;
  padding-top: 5.625rem;
  padding-bottom: 1.375rem; }

.contact__info {
  padding-right: 5rem; }

.contact__info--main {
  padding-bottom: 1rem; }

.contact__info--main h3 {
  margin: 0; }

.contact__info--main h3, .contact__info--location h3 {
  font-size: 1.15rem;
  font-weight: 400; }

.contact__info--main p, .contact__info--location p {
  font-weight: 200; }

.contact__info--location {
  padding-bottom: 2rem; }

.contact__icons i {
  padding-right: 1.1875rem;
  font-size: 1.25rem;
  padding-bottom: 2rem;
  color: #000;
  cursor: pointer; }
  .contact__icons i:hover {
    color: #c6aa82; }

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 41.876rem; }

.contact__form h2 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding-bottom: 2.5rem; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4.5rem;
  width: 100%; }

textarea {
  resize: none; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #c7c7c7; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #c7c7c7; }

input::placeholder, textarea::placeholder {
  color: #c7c7c7; }

.contact__form input, .contact__form textarea {
  outline: none;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1rem; }

.contact__form input {
  margin-bottom: 2.375rem; }

textarea:focus, input:focus {
  outline: none;
  border-bottom: 1px solid #c6aa82;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.contact__name, .contact__email {
  width: 44%; }

.contact__subject {
  width: 100%; }

.contact__message {
  margin-bottom: 2.5rem; }

.contact__btn {
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  background-color: #c6aa82;
  height: 2rem;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .contact__btn:hover {
    background-color: #000; }

footer {
  background-color: #f5f5f5;
  height: 6rem;
  text-align: center;
  position: relative; }

footer h3 {
  margin: 0;
  font-size: 0.95rem;
  font-weight: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

@media (max-width: 1170px) {
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  .contact__info {
    padding: 0; }
  #skills .inner__wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  #contact .inner__wrapper {
    padding-left: 2rem;
    padding-right: 2rem; }
  .contact__form {
    padding-top: 2rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contact__form h2 {
    font-size: 1.5rem; } }

@media (max-width: 700px) {
  form {
    width: 100%;
    margin: 0 auto; }
  .contact__name, .contact__email {
    width: 100%; } }

@media (max-width: 500px) {
  #google__map {
    display: none; } }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #000; }

.wrapper {
  max-width: 1800px;
  margin: 0 auto; }

.inner__wrapper {
  max-width: 1170px;
  margin: 0 auto; }

a {
  color: inherit; }

a:visited {
  color: #000; }

@media (max-width: 1800px) {
  .wrapper {
    padding-left: 2rem;
    padding-right: 2rem; } }
